/* Navbar */
header {
  margin-top: 0;
  box-shadow: 0px 0px 0px 2px var(--color-border);
  position: sticky;
  background-color: var(--color-surface);
}

.header-container {
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}

a:has(svg) {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  flex: 1;
}

li {
  list-style-type: none;
}

.header-container svg,
.logo svg,
.cart svg {
  height: 3rem;
  width: auto;
}

.main-nav {
  order: 1;
  flex: 0 0 100%;
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.nav-items a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-block: 1rem;
  font-weight: bold;
  position: relative;
}

.nav-items a.active {
  color: var(--color-primary);
  text-decoration: none;
}

.nav-items a::before {
  content: "";
  position: absolute;
  bottom: 1rem;
  height: 2px;
  width: 0%;
  background-color: var(--color-primary);
  transition: all 0.4s ease;
}

.nav-items a:hover::before {
  width: 100%;
}

header .cart {
  position: relative;
  cursor: pointer;
}

.cart span {
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  z-index: 1;
}

@media (min-width: 576px) {
  .nav-items {
    justify-content: center;
  }

  .logo {
    flex: none;
  }
  .main-nav {
    order: initial;
    flex: 1;
  }
}
